<html>
<head>
  <title>Docserver</title>
</head>

<body>
  <h2>Docserver</h2>

  <p>{{message}}</p>

  <form method="get">
    <p>New query: <input type="text" name="search" value=""/>
    <input type="submit" name="action" value="Best"/>
    <input type="submit" name="action" value="Has docs"/>
    <input type="submit" name="action" value="Everything"/></p>
  </form>
</body>
</html>
