<html>
<head>
  <title>Docserver</title>
</head>

<body>
  <h2>Docserver</h2>

  <p>{{message}}</p>

  <form method="get" action="{{root}}/">
    <p>New query: <input type="text" name="search" value=""/>
    <input type="submit" name="action" value="Exact"/>
    <input type="submit" name="action" value="Substring"/></p>
  </form>
</body>
</html>
