<html>
<head>
  <title>Docserver</title>
</head>

<body>
  <h2>Docserver</h2>

  <p>{{message}}</p>

  <form method="get">
    <p>New query: <input type="text" name="search" value=""/>
    <input type="submit" name="Go" value="Go"/></p>
  </form>
</body>
</html>
