<html>
<head>
  <title>Docserver</title>
</head>

<body>
  <h2>Docserver</h2>

  <p>Repository info:
  <ul>
    <li>Path: {{repo}}</li>
    <li>Artifacts: {{artifacts}}</li>
  </ul>

  <form method="get">
    <p>Query: <input type="text" name="search" value=""/>
    <input type="submit" name="action" value="Exact"/>
    <input type="submit" name="action" value="Substring"/></p>
  </form>
</body>
</html>
